Repository wso2/security-tools: changes, and which Codecov flags are due for each by the changed paths.
All: config_checker, scan_manager, scan_manager_main, scan_manager_scans

Update Products.yaml file
  internal/advisory-tool/conf/Products.yaml
Due: none

Update internal/advisory-tool/conf/Products.yaml
  internal/advisory-tool/conf/Products.yaml
Due: none

Switch Travis to OpenJDK 1.8
  .travis.yml
Due: none

Change travis distribution to trusty
  .travis.yml
Due: none

Update Products.yaml File
  internal/advisory-tool/conf/Products.yaml
Due: none

Remove extra lines
  internal/advisory-tool/conf/Products.yaml
Due: none

Enable Nginx and configure self-signed TLS
  internal/dependency-track/setup.sh
Due: none

Change max upload sixe to 50MB from 1MB
  internal/dependency-track/setup.sh
Due: none

Front scan-manager with Nginx
  internal/scan-manager/setup.sh
Due: scan_manager

Add report template id to create web applcation report
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Code refactor
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
Due: scan_manager, scan_manager_scans

Update setup.sh
  internal/dependency-track/setup.sh
Due: none

Imporve exception messages
  internal/scan-manager/scanners/loader/pom.xml
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
Due: scan_manager, scan_manager_scans

Resolve PR Comments
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
Due: scan_manager, scan_manager_scans

Add cyclonedx-maven-plugin-1.4.1 source
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/LICENSE
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/README.md
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/pom.xml
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/BaseCycloneDxMojo.java
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/CycloneDxAggregateMojo.java
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/CycloneDxMojo.java
Due: none

Customization of WSO2 to remove transitive dependencies of project while generating a BOM file
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/pom.xml
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/BaseCycloneDxMojo.java
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/CycloneDxAggregateMojo.java
  external/cyclonedx-maven-plugin/cyclonedx-maven-plugin-1.4.1/src/main/java/org/cyclonedx/maven/CycloneDxMojo.java
Due: none

Add cyclonedx-maven-plugin-1.4.1-INTERNAL distribution and readme file
  external/cyclonedx-maven-plugin/distribution/README.md
  external/cyclonedx-maven-plugin/distribution/cyclonedx-maven-plugin-1.4.1-INTERNAL.jar
Due: none

move dt environment related files to dt-environment directory
  internal/dependency-track/dt-environment/config/application.properties
  internal/dependency-track/dt-environment/setup.sh
Due: none

Add Bom creation environment set up script and script to generate bom file
  internal/dependency-track/GenerateBOMFile.sh
  internal/dependency-track/bom-creation/README.md
  internal/dependency-track/bom-creation/resources/settings.xml
  internal/dependency-track/bom-creation/scripts/GenerateBOMFile.sh
  internal/dependency-track/bom-creation/scripts/Setup.sh
Due: none

Add read me file and m2 settings.xml file
  internal/dependency-track/bom-creation/README.md
  internal/dependency-track/bom-creation/resources/settings.xml
Due: none

Change readme file of CycloneDx maven plugin
  external/cyclonedx-maven-plugin/distribution/README.md
Due: none

Add JWT validation changes for AppManager integration
  internal/dependency-track/setup.sh
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/Scan.java
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/ScanExternal.java
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/ScanManagerScanRequest.java
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/User.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/ScanController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/UserDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserServiceImpl.java
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ServiceTestDataProvider.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/filter/JWTValidationFilter.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/Constants.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/JwtTokenUtil.java
  internal/scan-manager/webapp/src/main/resources/application.properties
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/fragments/nav_bar.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/logs.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scanners.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scans.jsp
Due: scan_manager, scan_manager_main

Add SECURITY.md file
  SECURITY.md
Due: none

Update file
  SECURITY.md
Due: none

Rename config parameter names and resolve PR Comments
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Resolve PR comments
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/JwtTokenUtil.java
Due: scan_manager, scan_manager_main

Resolve PR comments
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/ScanController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserServiceImpl.java
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/filter/JWTValidationFilter.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/JwtTokenUtil.java
Due: scan_manager, scan_manager_main

Add request builder method for standard authentication
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/StandardAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/WebAppAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Add factory pattern for webauthtype and add crawling scope
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/WebAppAuthFactory.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScope.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/StandardAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Resolve findbug issue and check style
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/StandardAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

OIDC integration & dependency upgrade
  internal/scan-manager/common/common/pom.xml
  internal/scan-manager/common/external/pom.xml
  internal/scan-manager/common/internal/pom.xml
  internal/scan-manager/core/pom.xml
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/LogServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImpl.java
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/LogServiceImplTest.java
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImplTest.java
  internal/scan-manager/scanners/common/pom.xml
  internal/scan-manager/scanners/loader/pom.xml
  internal/scan-manager/scanners/veracode/pom.xml
  internal/scan-manager/webapp/pom.xml
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/config/AppConfiguration.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/config/ScanManagerWebappConfiguration.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/config/ServletInitializer.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/CustomErrorController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/exception/ScanManagerWebappExceptionHandler.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/filter/JWTValidationFilter.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/JwtTokenUtil.java
  internal/scan-manager/webapp/src/main/resources/application.properties
  internal/scan-manager/webapp/src/main/resources/application.yml
Due: scan_manager, scan_manager_main, scan_manager_scans

Add crawling script capability to scan manager - qualys scanner
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/WebAppAuthFactory.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScope.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/StandardAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/WebAppAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

[Do not merge] This is to test travis
  README.md
Due: none

Add UI modifications and address code review suggestions
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/ScannerField.java
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ServiceTestDataProvider.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScope.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/SeleniumAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/SeleniumAuthenticationRecordBuilder.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/StandardAuthenticationRecordBuilder.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/WebAppAuthenticationRecordBuilder.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/WebAppAuthenticationRecordBuilderFactory.java
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
Due: scan_manager, scan_manager_main, scan_manager_scans

Resolve conflict in QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
Due: scan_manager, scan_manager_scans

Path conditions:
  config_checker: any of: internal/config-checker/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager: any of: internal/scan-manager/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_main: any of: internal/scan-manager/common, internal/scan-manager/core, internal/scan-manager/webapp, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_scans: any of: internal/scan-manager/scanners, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
