Repository wso2/security-tools: changes, and which Codecov flags are due for each by the changed paths.
All: config_checker, scan_manager, scan_manager_main, scan_manager_scans

Resolve PR comments
  internal/scan-manager/common/internal/pom.xml
  internal/scan-manager/scanners/veracode/bin/scanner-startup.sh
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/webapp/pom.xml
Due: scan_manager, scan_manager_main, scan_manager_scans

Update internal/scan-manager/bin/scan-manager.sh
  internal/scan-manager/bin/scan-manager.sh
Due: scan_manager

Update updatemitigationinfo.py
  internal/veracode-api-wrapper/update-mitigation-info/scripts/updatemitigationinfo.py
Due: none

Add Dependency Track Setup.sh and Config file
  internal/dependency-track/config/application.properties
  internal/dependency-track/setup.sh
Due: none

Resolve PR comments
  internal/dependency-track/config/application.properties
  internal/dependency-track/setup.sh
Due: none

Fix minor bugs in script
  internal/dependency-track/setup.sh
  internal/scan-manager/setup.sh
Due: scan_manager

Add script to generate BOM File
  internal/dependency-track/GenerateBOMFile.sh
Due: none

Change the input as download url
  internal/dependency-track/GenerateBOMFile.sh
Due: none

Reslove PR Comments
  internal/dependency-track/GenerateBOMFile.sh
Due: none

Update internal/dependency-track/GenerateBOMFile.sh
  internal/dependency-track/GenerateBOMFile.sh
Due: none

Add Callback Log Appender
  internal/scan-manager/scanners/common/pom.xml
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/logging/CallbackLogAppender.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/model/CallbackLog.java
  internal/scan-manager/scanners/common/src/main/resources/log4j.properties
  internal/scan-manager/scanners/common/src/main/resources/log4j2.xml
  internal/scan-manager/scanners/veracode/pom.xml
  internal/scan-manager/scanners/veracode/src/main/resources/log4j.properties
Due: scan_manager, scan_manager_scans

Improve cancel scan process
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/VeracodeScannerConstants.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/resources/jarFilter.xml
  internal/scan-manager/scanners/veracode/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Add scan request validations
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/service/Scanner.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
Due: scan_manager, scan_manager_scans

Add report status check and resolve PR comments
  internal/scan-manager/common/common/pom.xml
  internal/scan-manager/common/common/src/main/java/org/wso2/security/scanmanager/common/exception/RetryExceededException.java
  internal/scan-manager/common/common/src/main/java/org/wso2/security/tools/scanmanager/common/util/HTTPUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/XMLUtil.java
  internal/scan-manager/scanners/loader/pom.xml
  internal/scan-manager/scanners/qualys/Dockerfile
  internal/scan-manager/scanners/qualys/bin/scanner-startup.sh
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/assembly/scanner-assembly.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanType.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScannerApplianceType.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_main, scan_manager_scans

Rename senDelete method
  internal/scan-manager/common/common/src/main/java/org/wso2/security/tools/scanmanager/common/util/HTTPUtil.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImplTest.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
Due: scan_manager, scan_manager_main

Update internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
Due: scan_manager, scan_manager_scans

Resolve PR comments
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
Due: scan_manager, scan_manager_scans

Rebase Qualys Scanner with request validator and thread logic changes
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
Due: scan_manager, scan_manager_scans

Resolve PR Comments
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
Due: scan_manager, scan_manager_scans

Resolve PR Comments
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
Due: scan_manager, scan_manager_scans

Add application url to property map and fix minor bugs
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/common/src/main/resources/log4j2.xml
  internal/scan-manager/scanners/qualys/bin/scanner-startup.sh
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Resolve PR comments
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
Due: scan_manager, scan_manager_scans

Fix minor bugs
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

fix spotbug issue
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
Due: scan_manager, scan_manager_scans

Update internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
Due: scan_manager, scan_manager_scans

Support authRegex and default authentication record for a scan
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
Due: scan_manager, scan_manager_scans

Change attribute description
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
Due: scan_manager, scan_manager_scans

Update Products.yaml file
  internal/advisory-tool/conf/Products.yaml
Due: none

Add Dynamic scan environment script for IS
  internal/automation-scripts/product-based-dynamic-scan-scripts/BuildDynamicScanEnvIS.sh
Due: none

Rename folder product-based-dynamic-scan-scripts
  internal/automation-scripts/product-based-dynamic-scan-env-scripts/BuildDynamicScanEnvIS.sh
Due: none

Revert "Update Products.yaml file"
  internal/advisory-tool/conf/Products.yaml
Due: none

Revert "Rename folder product-based-dynamic-scan-scripts"
  internal/automation-scripts/product-based-dynamic-scan-scripts/BuildDynamicScanEnvIS.sh
Due: none

Revert "Add Dynamic scan environment script for IS"
  internal/automation-scripts/product-based-dynamic-scan-scripts/BuildDynamicScanEnvIS.sh
Due: none

update script
  internal/automation-scripts/product-based-dynamic-scan-env-scripts/BuildDynamicScanEnvIS.sh
Due: none

WSO2 version suffix removal
  external/dependency-check/dependency-check-core-4.0.2/src/main/java/org/owasp/dependencycheck/data/nvdcve/CveDB.java
Due: none

Path conditions:
  config_checker: any of: internal/config-checker/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager: any of: internal/scan-manager/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_main: any of: internal/scan-manager/common, internal/scan-manager/core, internal/scan-manager/webapp, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_scans: any of: internal/scan-manager/scanners, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
