Repository wso2/security-tools: changes, and which Codecov flags are due for each by the changed paths.
All: config_checker, scan_manager, scan_manager_main, scan_manager_scans

.codecov.yml:

codecov:
  ci:
    - travis

ignore:
  - "external"
  - "internal/advisory-tool"
  - "internal/automation-manager"
  - "internal/automation-scripts"
  - "internal/code-usage-scan-tool"
  - "internal/feedback-tool"
  - "internal/js-dependency-scanner"
  - "internal/security-mail-automation"
  - "internal/support-jira-announcement-tool"
  - "internal/zap-extensions"

coverage:
  status:
    project:
      default: off
      config_checker:
        flags: config_checker
      scan_manager:
        flags: scan_manager
      scan_manager_main:
        flags: scan_manager_main
      scan_manager_scans:
        flags: scan_manager_scans

flags:
  config_checker:
    paths:
      - internal/config-checker/
  scan_manager:
    paths:
      - internal/scan-manager/
  scan_manager_main:
    paths:
      - internal/scan-manager/common
      - internal/scan-manager/core
      - internal/scan-manager/webapp
  scan_manager_scans:
    paths:
      - internal/scan-manager/scanners

Fix minor bug
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/CrawlingScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/StandardAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/WebAppAuth.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/SeleniumAuth.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogServiceImpl.java
Due: scan_manager, scan_manager_main, scan_manager_scans

Add field value to db script
  internal/scan-manager/core/src/main/resources/initial.sql
Due: scan_manager, scan_manager_main

Update tooltip.css to support newline in content
  internal/scan-manager/webapp/src/main/webapp/scan-manager/resources/custom/css/tooltip.css
Due: scan_manager, scan_manager_main

Add user guide
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scanners.jsp
Due: scan_manager, scan_manager_main

resolve pr comments
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/SeleniumScript.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanger/qualys/auth/StandardAuthenticationRecordBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scanners.jsp
  internal/scan-manager/webapp/src/main/webapp/scan-manager/resources/custom/css/tooltip.css
Due: scan_manager, scan_manager_main, scan_manager_scans

Resove findbug issue
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
Due: scan_manager, scan_manager_scans

Fix POST request failing issue
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/Application.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogServiceImpl.java
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/fragments/nav_bar.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
Due: scan_manager, scan_manager_main

Fix log appender dependency conflict issue
  internal/scan-manager/scanners/common/pom.xml
  internal/scan-manager/scanners/loader/pom.xml
  internal/scan-manager/scanners/veracode/pom.xml
Due: scan_manager, scan_manager_scans

Fix log appender dependency issue in Qualys scanner
  internal/scan-manager/scanners/qualys/pom.xml
Due: scan_manager, scan_manager_scans

Fix CSRF issue in the Webapp
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/Application.java
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scans.jsp
Due: scan_manager, scan_manager_main

Add email notification functionality upon scan completion and filter scan by product name
  internal/scan-manager/core/pom.xml
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/config/ScanManagerConfiguration.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/ScanController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/ScanDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/UserDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/EmailNotificationHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/NotificationHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/model/Email.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/CallbackServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/UserServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/util/Constants.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/util/Util.java
  internal/scan-manager/core/src/main/resources/emailTemplate.html
  internal/scan-manager/core/src/main/resources/scan-manager-config.yaml
  internal/scan-manager/core/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImplTest.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/Constants.java
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scans.jsp
  internal/scan-manager/webapp/src/main/webapp/scan-manager/resources/custom/css/button.css
Due: scan_manager, scan_manager_main, scan_manager_scans

fix findbug issue
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/config/ScanManagerConfiguration.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/EmailNotificationHandler.java
Due: scan_manager, scan_manager_main

Fix file limit size while file uploading in webapp
  internal/scan-manager/webapp/src/main/resources/application.properties
Due: scan_manager, scan_manager_main

Change file limit size of file upload
  internal/scan-manager/webapp/src/main/resources/application.properties
Due: scan_manager, scan_manager_main

Add VMS data migration code changes
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_engagement_view.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_forms.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_tools_factory.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_utils.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/tools/custom_parser/parser.py
Due: none

Add license header
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_engagement_view.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_forms.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_tools_factory.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_utils.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/tools/custom_parser/parser.py
Due: none

Add VMS setup scripts
  external/VMS_Custom_Setup_Scripts/setup_scripts/config/PR.conf
  external/VMS_Custom_Setup_Scripts/setup_scripts/vms_setup.sh
Due: none

Add component column database migration script
  external/VMS_Custom_Setup_Scripts/setup_scripts/db_component_migrate_script.sql
Due: none

Scan Manager Resilience
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/Scan.java
  internal/scan-manager/common/internal/src/main/java/org/wso2/security/tools/scanmanager/common/internal/model/ScannerScanRequest.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/config/StartUpInit.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/ScanDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/ContainerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/DockerContainerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScannerService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScannerServiceImpl.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/service/Scanner.java
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/QualysScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/veracode/pom.xml
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
Due: scan_manager, scan_manager_main, scan_manager_scans

Add Code review suggestion and persist scan context to db
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/Scan.java
  internal/scan-manager/common/internal/src/main/java/org/wso2/security/tools/scanmanager/common/internal/model/ScanContextUpdateRequest.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/CallbackController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/ScanDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/DockerContainerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanService.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScannerServiceImpl.java
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ServiceTestDataProvider.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerConstants.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/QualysScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
Due: scan_manager, scan_manager_main, scan_manager_scans

Fix maximum file upload issue
  internal/scan-manager/webapp/src/main/resources/application.properties
Due: scan_manager, scan_manager_main

Add Veracode parser improvements for component details extraction
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_templates_dojo_view_finding.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/tools/migration/parser.py
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/tools/veracode/parser.diff
Due: none

Resolve review comments
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_engagement_view.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_forms.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_tools_factory.diff
  external/VMS_Custom_Setup_Scripts/db_migration/dojo/dojo_utils.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/db_component_migrate_script.sql
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/1.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/2.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/2224.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/vms_setup.sh
Due: none

Add VMS DB backup scripts
  external/VMS_DB_Backup/scripts/UploadDbBackupToDrive.sh
  external/VMS_DB_Backup/scripts/VmsDbBackupCon.sh
  external/VMS_DB_Backup/scripts/config/databaseName.conf
  external/VMS_DB_Backup/scripts/config/googleClientId.conf
  external/VMS_DB_Backup/scripts/config/googleClientSecret.conf
  external/VMS_DB_Backup/scripts/config/googleDriveFolderId.conf
  external/VMS_DB_Backup/scripts/config/googleRefreshToken.conf
  external/VMS_DB_Backup/scripts/config/mysqlPassword.conf
  external/VMS_DB_Backup/scripts/config/mysqlUsername.conf
Due: none

Update index.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
Due: scan_manager, scan_manager_main

Resolve PR comments
  external/VMS_DB_Backup/scripts/UploadDbBackupToDrive.sh
  external/VMS_DB_Backup/scripts/VmsDbBackupCon.sh
  external/VMS_DB_Backup/scripts/config.conf
Due: none

Update file uploading in the web app
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/resources/application.properties
Due: scan_manager, scan_manager_main

Update file upload to use apache commons file upload
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/resources/application.properties
Due: scan_manager, scan_manager_main

Add Google Sheet Sync changes to use OAuth
  external/VMS_Custom_Setup_Scripts/google_sheet_sync/diff_files/dojo_google_sheet_view.diff
  external/VMS_Custom_Setup_Scripts/google_sheet_sync/diff_files/dojo_test_views.diff
  external/VMS_Custom_Setup_Scripts/google_sheet_sync/diff_files/requirements.diff
Due: none

Update google sheet sync view
  external/VMS_Custom_Setup_Scripts/google_sheet_sync/diff_files/dojo_google_sheet_view.diff
Due: none

Add improvement for OAuth token Google sync feature
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/dojo_google_sheet_view.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/dojo_test_views.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/requirements.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/saml.diff
  external/VMS_DB_Backup/scripts/config/databaseName.conf
  external/VMS_DB_Backup/scripts/config/googleClientId.conf
  external/VMS_DB_Backup/scripts/config/googleClientSecret.conf
  external/VMS_DB_Backup/scripts/config/googleDriveFolderId.conf
  external/VMS_DB_Backup/scripts/config/googleRefreshToken.conf
  external/VMS_DB_Backup/scripts/config/mysqlPassword.conf
  external/VMS_DB_Backup/scripts/config/mysqlUsername.conf
Due: none

resolve comments
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/DockerContainerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/ScannerController.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
Due: scan_manager, scan_manager_main, scan_manager_scans

Improve filling comments in Google Sheet sync feature
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/dojo_google_sheet_view_2.diff
Due: none

Secure Api
  internal/scan-manager/core/pom.xml
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/Main.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/config/StartUpInit.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
  internal/scan-manager/core/src/main/resources/application.yml
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/RestTempateUtil.java
  internal/scan-manager/webapp/src/main/resources/application.yml
Due: scan_manager, scan_manager_main

Update application.yml
  internal/scan-manager/core/src/main/resources/application.yml
Due: scan_manager, scan_manager_main

Add Dependency Scan report Parser
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/dojo_engagement_view_temp2.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/dojo_utils_temp2.diff
  external/VMS_Custom_Setup_Scripts/setup_scripts/diff-files/temp_dependency_parser.py
Due: none

add initial contributor review script
  .gitignore
  internal/contributor-review-script/README.md
  internal/contributor-review-script/fork_monitor.py
  internal/contributor-review-script/requirements.txt
Due: none

add KeyboardInterrupt handler
  internal/contributor-review-script/fork_monitor.py
Due: none

Script to mitigate the issue CVE-2021-44228
  internal/update-scripts/CVE-2021-44228-mitigation.sh
Due: none
