Repository wso2/security-tools: changes, and which Codecov flags are due for each by the changed paths.
All: config_checker, scan_manager, scan_manager_main, scan_manager_scans

Add JaCoCo coverage checks
  .travis.yml
Due: none

Adding Veracode API wrapper to upload mitigation info
  internal/veracode-api-wrapper/updatemitigationinfo/README.md
  internal/veracode-api-wrapper/updatemitigationinfo/requirements.txt
  internal/veracode-api-wrapper/updatemitigationinfo/scripts/updatemitigationinfo.py
  internal/veracode-api-wrapper/updatemitigationinfo/setup.py
Due: none

modify readme
  internal/veracode-api-wrapper/updatemitigationinfo/README.md
Due: none

Update README.md
  internal/veracode-api-wrapper/updatemitigationinfo/README.md
Due: none

Improve scan manager webapp
  internal/scan-manager/webapp/pom.xml
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/config/ScanManagerWebappConfigurationBuilder.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/CustomErrorController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScannerController.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScannerService.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScannerServiceImpl.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/Constants.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/FTPUtil.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/util/HTTPUtil.java
  internal/scan-manager/webapp/src/main/resources/application.properties
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/index.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/logs.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scanners.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scans.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/web.xml
Due: scan_manager, scan_manager_main

Modify scan manager log response
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/Scan.java
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/ScanManagerLogResponse.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/LogController.java
Due: scan_manager, scan_manager_main

Resolve PR Comments
  internal/veracode-api-wrapper/update-mitigation-info/README.md
  internal/veracode-api-wrapper/update-mitigation-info/requirements.txt
  internal/veracode-api-wrapper/update-mitigation-info/scripts/updatemitigationinfo.py
  internal/veracode-api-wrapper/update-mitigation-info/setup.py
  internal/veracode-api-wrapper/updatemitigationinfo/README.md
  internal/veracode-api-wrapper/updatemitigationinfo/requirements.txt
  internal/veracode-api-wrapper/updatemitigationinfo/scripts/updatemitigationinfo.py
  internal/veracode-api-wrapper/updatemitigationinfo/setup.py
Due: none

Resolve PR Comments
  internal/veracode-api-wrapper/update-mitigation-info/README.md
Due: none

Remove dedundent maven plugins
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/DockerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/DockerHandlerImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/model/ContainerInfo.java
  internal/scan-manager/webapp/pom.xml
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
Due: scan_manager, scan_manager_main

Improve error handling
  internal/veracode-api-wrapper/update-mitigation-info/scripts/updatemitigationinfo.py
Due: none

Resolve PR comments
  internal/scan-manager/core/pom.xml
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ServiceTestDataProvider.java
  internal/scan-manager/core/src/test/resources/log4j.properties
  internal/scan-manager/pom.xml
Due: scan_manager, scan_manager_main

Add scan manager exception scenario
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanEngineServiceImpl.java
Due: scan_manager, scan_manager_main

Improve the logic in getting the arguments
  internal/veracode-api-wrapper/update-mitigation-info/README.md
  internal/veracode-api-wrapper/update-mitigation-info/scripts/updatemitigationinfo.py
Due: none

Improve callback service scan update validation
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/CallbackController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/ScanDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/CallbackServiceImpl.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImpl.java
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ScanServiceImplTest.java
Due: scan_manager, scan_manager_main

Add java docs plugin
  internal/scan-manager/common/common/pom.xml
  internal/scan-manager/common/external/pom.xml
  internal/scan-manager/common/internal/pom.xml
  internal/scan-manager/core/pom.xml
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/ScanController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/controller/ScannerController.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/dao/ScannerAppDAO.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/exception/InvalidRequestException.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/exception/ResourceNotFoundException.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/exception/ScanManagerException.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/handler/ContainerHandler.java
  internal/scan-manager/core/src/main/java/org/wso2/security/tools/scanmanager/core/service/ScanService.java
Due: scan_manager, scan_manager_main

Apply suggestions from code review
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/controller/ScanController.java
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/logs.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scan_configuration.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scanners.jsp
  internal/scan-manager/webapp/src/main/webapp/WEB-INF/views/scan-manager/scans.jsp
Due: scan_manager, scan_manager_main

Resolve review comments
  internal/scan-manager/common/common/pom.xml
  internal/scan-manager/common/common/src/main/java/org/wso2/security/tools/scanmanager/common/config/ConfigurationReader.java
  internal/scan-manager/common/common/src/main/java/org/wso2/security/tools/scanmanager/common/config/YAMLConfigurationReader.java
  internal/scan-manager/scanners/common/pom.xml
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/EncodeUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/ErrorProcessingUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/XMLUtil.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/App.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/config/VeracodeScannerConfiguration.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/VeracodeResultProcessor.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/util/FileUtil.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/util/VeracodeAPIUtil.java
Due: scan_manager, scan_manager_main, scan_manager_scans

Apply suggestions from code review
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/ScanServiceImpl.java
Due: scan_manager, scan_manager_main

Update pom.xml
  internal/scan-manager/common/common/pom.xml
Due: scan_manager, scan_manager_main

Correct block comment on CallbackUtil
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
Due: scan_manager, scan_manager_scans

Add order to scanner fields
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/Scanner.java
  internal/scan-manager/common/external/src/main/java/org/wso2/security/tools/scanmanager/common/external/model/ScannerField.java
  internal/scan-manager/core/src/main/resources/initial.sql
  internal/scan-manager/core/src/test/java/org/wso2/security/tools/scanmanager/core/service/ServiceTestDataProvider.java
  internal/scan-manager/webapp/pom.xml
Due: scan_manager, scan_manager_main

Initial Commit
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanType.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScannerApplianceType.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Update qualys
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
Due: scan_manager, scan_manager_scans

Commit before Rebasing
  internal/scan-manager/scanners/qualys/pom.xml
Due: scan_manager, scan_manager_scans

Improve method descriptions
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/config/ScanManagerWebappConfigurationBuilder.java
  internal/scan-manager/webapp/src/main/java/org/wso2/security/tools/scanmanager/webapp/service/LogService.java
Due: scan_manager, scan_manager_main

Upload reports to ftp
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScanContext.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Resolve checkstyle issues, java doc issues and spot bugs issues
  internal/scan-manager/pom.xml
  internal/scan-manager/scanners/qualys/pom.xml
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/model/ScannerApplianceType.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
Due: scan_manager, scan_manager_scans

Code Refactor
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/QualysScannerConstants.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/config/QualysScannerConfiguration.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysApiInvoker.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/QualysScanHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ReportHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/ScanExecutor.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/handler/StatusHandler.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/service/QualysScanner.java
  internal/scan-manager/scanners/qualys/src/main/java/org/wso2/security/tools/scanmanager/scanners/qualys/util/RequestBodyBuilder.java
  internal/scan-manager/scanners/qualys/src/main/resources/scanner-config.yaml
Due: scan_manager, scan_manager_scans

Create setup.sh
  internal/scan-manager/setup.sh
Due: scan_manager

Update setup.sh
  internal/scan-manager/setup.sh
Due: scan_manager

Add scanner distribution creation
  internal/scan-manager/common/common/src/main/java/org/wso2/security/tools/scanmanager/common/config/YAMLConfigurationReader.java
  internal/scan-manager/pom.xml
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/CallbackUtil.java
  internal/scan-manager/scanners/common/src/main/java/org/wso2/security/tools/scanmanager/scanners/common/util/FileUtil.java
  internal/scan-manager/scanners/common/src/main/resources/log4j.properties
  internal/scan-manager/scanners/loader/pom.xml
  internal/scan-manager/scanners/loader/src/main/java/org/wso2/security/tools/scanmanager/scanners/loader/ScannerLoader.java
  internal/scan-manager/scanners/veracode/bin/scanner-startup.sh
  internal/scan-manager/scanners/veracode/docker/Dockerfile
  internal/scan-manager/scanners/veracode/pom.xml
  internal/scan-manager/scanners/veracode/src/main/assembly/scanner-assembly.xml
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/VeracodeScannerConstants.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/handler/ScanTask.java
  internal/scan-manager/scanners/veracode/src/main/java/org/wso2/security/tools/scanmanager/scanners/veracode/service/VeracodeScanner.java
  internal/scan-manager/scanners/veracode/src/main/resources/log4j.properties
Due: scan_manager, scan_manager_main, scan_manager_scans

Remove cascade delete
  internal/scan-manager/core/src/main/resources/initial.sql
Due: scan_manager, scan_manager_main

Modify Dockerfile location
  internal/scan-manager/bin/scan-manager.sh
  internal/scan-manager/scanners/veracode/Dockerfile
Due: scan_manager, scan_manager_scans

Path conditions:
  config_checker: any of: internal/config-checker/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager: any of: internal/scan-manager/, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_main: any of: internal/scan-manager/common, internal/scan-manager/core, internal/scan-manager/webapp, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
  scan_manager_scans: any of: internal/scan-manager/scanners, but not: external, internal/advisory-tool, internal/automation-manager, internal/automation-scripts, internal/code-usage-scan-tool, internal/feedback-tool, internal/js-dependency-scanner, internal/security-mail-automation, internal/support-jira-announcement-tool, internal/zap-extensions
